<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    <head>
        <title>
            {{ if .IsHome }}
                {{ .Site.Title }}
            {{ else }}
                {{ .Title }} | {{ .Site.Title }}
            {{ end }}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    </head>

    <body>
        <nav>
            <ul class="menu">
                {{ range .Site.Menus.main }}
                    <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
                {{ end }}
            </ul>
        </nav>

        <main>
            {{ block "main" . }}{{ end }}
        </main>

        <footer>
            <p>If you like my projects and you really want to, you can support me by <a href="https://ko-fi.com/C0C31Y1RUK">giving me money on Ko-Fi</a>. Every donation is appreciated!</p>
            <p>The source code for this website is available <a href="https://github.com/Molitvan/molitvan.me">here</a>. You may read it, learn from it, and reuse small snippets, but you are not allowed to impersonate me or use the code for any purpose other than what's listed here.</p>
            <p>© {{ now.Year }} Vjeran Bezik</p>
        </footer>
    </body>
</html>
